@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,50,100..1000,67,382,71,854,-98,788,570,760&display=swap');

body {
  @apply bg-black font-robotoflex overflow-x-hidden 
  min-h-screen max-w-[2500px] min-h-screen;
}

.internal {
  @apply px-10 sm:px-16 md:px-28;
}

.nav-text {
  @apply text-white text-base font-extralight;
}

.skillCard{
  @apply border-zinc-700 border-[1px] rounded-[5px];
}

.the-card{
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.backface-hidden{
  backface-visibility: hidden;
}

.rotatey-180{
  transform: rotateY(180deg);
}

#quote {
  background: linear-gradient(185deg, #FFF -117.71%, rgba(255, 255, 255, 0) 217.23%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#name {
  background: linear-gradient(180deg, #957D1A -162.15%, #2F2708 315.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description {
  background: linear-gradient(180deg, #FFF -102.59%, rgba(153, 153, 153, 0.38) 141.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}